

::-moz-selection { /* Code for Firefox */
  color: red;
  background: #f2f9f9;
}

::selection {
  color: red;
  background: #f2f9f9;
} 
#cursor-outline,#cursor{
  position: fixed;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  z-index: 205;
  pointer-events: none;
  border: 2px solid #00c6b982;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%)

}
#cursor{
  height: 5px;
  width: 5px;
  background-color: #00C6b982
}
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Monoton&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*, *:before, *:after 
{ box-sizing: border-box; 
  
}
html{
  scroll-behavior: smooth;
  margin: 0;
  font-size:100%;
  overflow-x: hidden !important;  
  cursor: none;

}
body::-webkit-scrollbar {
  display: none;

}

body {

  margin: 0;
  color: white;

  background: #0C1821;
  background-position: center;
  background-size: cover;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;

}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 20;
  width: 200px;
  height: 200px;
  background: #00C6B800;
  border-radius: 20% 20% 20% 20%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  /* cursor: pointer; */
  animation: name 0.5s 1;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 5px;
  /* background: #0c1821; */
  background: #00C6B8;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* background: #0c1821; */
  background: #00C6B8;

  
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #00C6B8, 0 0 0 400px #00C6B8; overflow: hidden;border-radius: 0%;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  bottom: 0;

}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu  + ul{ opacity: 1; animation: slidein 1s 1; pointer-events: all;}  

label ul {
  cursor: default;
  pointer-events: none;
  z-index: 200;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .5s 0s ease-in-out;
  transition: .5s 0s ease-in-out;
  list-style: none;
}
@keyframes slidein {
    0%{left: 45%;opacity: 0;}100%{left: 50%;opacity: 1;}
}

label li {
  
    font-size: 60px;
    width: 1100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c1821;
    text-decoration: none;
    transition: all 0.5s;
  font-family: 'MuseoModerno', cursive;

}
label li:hover{
    transform: scale(1.5);
    background-color: #0c1821;
    color: #00C6B8;
    border-radius: 20px;
    text-shadow: white 3px 3px 0px;
    
}
.logo img{
  position: absolute ;
  height: 80px;
  margin-left:60px;
  margin-top:20px;
  animation: name 0.5s 1;
 z-index: 1;
}
/* .logo img:hover{
  animation-name:image;
  animation-duration: .5s;
  animation-iteration-count: 1;
} */
@keyframes image {
  0%{
    transform: rotate(0deg);  
  }
  100%{
    transform: rotate(360deg);
  }
  
}
.intro{
  /* border: 2px solid white; */
  /* position: absolute; */
  height: fit-content;
  color: #00C6B8;
  /* display: inline-flex; */
  width: 600px;
  font-size:30px;
  text-shadow: 1px 1px 5px black;
  pointer-events: none;
  animation: name 1s 1;

}
.test{
/* border: 2px solid white; */
display: flex;
justify-content: start;
align-items: center;
flex-direction: column;
}
.blob{
  position:absolute;
  height: auto;
  width: 100%;
  /* top: 0; */
  /* z-index: 1; */
  transition: all ease-in-out 5s;
  animation: blob 25s infinite;
}
.blob1{
  position:absolute;
  height: auto;
  width: 100%;
  /* top: 0; */
  /* z-index: 1; */
  transition: all ease-in-out 5s;
  animation: blob1 25s infinite;
}
@keyframes blob { 0%{
   transform: translateY(0px);
}
50%{
  transform: translateY(800px);

}
75%{
  transform: translateY(-150px);

}100%{
  transform: translateY(0px);
  
}
  
}@keyframes blob1 { 0%{
  transform: translateX(0px);
}
50%{
 transform: translateX(800px);

}
75%{
 transform: translateX(-150px);

}100%{
 transform: translateX(0px);
 
}
 
}

.name-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 50%;
  /* border: 2px solid white; */

}
.name-image img{
  height: auto;
  /* max-height: 500px; */
  width: 100%;
}
.tagline{
  /* padding: 30px; */
  width: 100%;
  font-size: 25px;
  color: #00C6B8;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  animation: name 3s 1;
}
.bg{
  background:#0c1821;
  display: flex;  
  /* border: 2px solid white; */
  height: 0px;
  width: 100%;
  position: relative;

}
.svg img {
  position: fixed;
  width: 25%;
  height: auto;
  bottom: 10%;
  left: 5%;
  animation: name 4s 1;

}
.svg1 img {
  position: fixed;
  width: 35%;
  height: auto;
  bottom: 40%;
  right: 5%;
  animation: name 4s 1;

}


#Name{
  /* z-index: 2; */
  /* font-family: 'Monoton', sans-serif; */
  display:flex;
  flex-direction: column;
  /* border: 2px solid white; */
  justify-content: start;
  /* align-items: center; */
  height: fit-content;
  width: 100%;
  font-size: 60px;
  text-align: justify;
  animation: name 2s 1;
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  /* --background-color: #13274F; */
  --background-color: #0c1821;
  --stroke-color: #00C6B8;

  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
    


}
.name {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* top:12%; */
  /* background: URL(BG_11.gif); */
  /* background: URL(diamond.svg); */
  /* background: URL(007.png); */

  /* background:#0c1821; */
  background:rgb(13, 24, 33);
  background-size: cover;
  top:0%;
  bottom: 0%;
  height: 100vh;
  width: 100%;
  text-align: center;
  /* flex-direction: column; */
  position: relative;
  font-family: 'MuseoModerno', cursive;
  /* font-family: 'Outfit', sans-serif; */
  /* animation: name 3s 1; */

}

.name span{
  transition: all .3s ease-in;
  animation-name: rotate;
  animation-delay: 1s;
  animation-duration: 1.5s;
  display: inline-flex;
  animation-iteration-count:1;
}


@keyframes rotate {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }

}
.name span:nth-of-type(1) {
  animation-delay: 0.2s;
}
.name span:nth-of-type(2) {
  animation-delay: 0.4s;
}
.name span:nth-of-type(3) {
  animation-delay: 0.6s;
}
.name span:nth-of-type(4) {
  animation-delay: 0.8s;
}
.name span:nth-of-type(5) {
  animation-delay: 1s;
}
.name span:nth-of-type(6) {
  animation-delay: 1.2s;
}
.name span:nth-of-type(7) {
  animation-delay: 1.4s;
}.name span:nth-of-type(8) {
  animation-delay: 1.6s;
}.name span:nth-of-type(9) {
  animation-delay: 1.8s;
}.name span:nth-of-type(10) {
  animation-delay: 2s;
}.name span:nth-of-type(11) {
  animation-delay: 2.2s;
}.name span:nth-of-type(12) {
  animation-delay: 2.4s;
}

.subtitle{
  height: fit-content;
  font-size: 25px;
  z-index: 1;
  animation: name 2.5s 1;
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation {
  height:80px;
  overflow:hidden;
  right: 0%;
}
.animation > div > div {
  color: #ffffff9d;
  /* background-color: #ffffffe1; */
  width: fit-content;
  height:4rem;
  margin-bottom: 2.81rem;
  display:inline-block;
  text-shadow: 0px 0px 1px #00c6b934;
}

.animation div:first-child {
  animation: move 8s infinite;
}
@keyframes move {
  25% {
    transform: translatey(0px);
    opacity: 1;
  }
  50% {
    transform: translatey(-120px);
  }
  75% {
    transform: translatey(-210px);
  }
}





@keyframes name {
    0%{
      transform: translatey(100px);
    opacity: 0;}
    50%{
      transform: translateY(50px);
      opacity: 0;
    }
    100%{transform: translatey(0);
    opacity: 1;}
    
}



.topbtn{
  font-size: 30px;
    color:#00C6B8;
    border: 3px solid rgb(0, 199, 186);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 0; 
    background-color:transparent;
    transition: all .5s ease-in;
}
.topbtn:hover{
  color: #00C6B8;
  background-color: #0c1821;
  border: 3px solid #00C6B8;

}
.Scroll-down{
  cursor: none;
  border-color: transparent;
  font-size: 60px;
  color: #00C6B8;
  position:relative;
  margin-top: 600px;
  left: 50%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  /* z-index:20; */
  animation-name: name, shake;
  animation-duration: 3s ,3s;
  animation-iteration-count: 1, infinite;
}
@keyframes shake {
	0%, 100% {transform: translateY(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
	20%, 40%, 60%, 80% {transform: translateY(10px);}
}
  



.content-main{
  /* background: url(wp2757874.gif); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(12%2c 24%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M4 250L254 0L569 0L319 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M242.60000000000002 250L492.6 0L789.6 0L539.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M487.20000000000005 250L737.2 0L1020.7 0L770.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M743.8000000000001 250L993.8000000000001 0L1310.3000000000002 0L1060.3000000000002 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M1430 250L1180 0L1036 0L1286 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1191.4 250L941.4000000000001 0L884.4000000000001 0L1134.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M932.8 250L682.8 0L489.29999999999995 0L739.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M721.1999999999999 250L471.19999999999993 0L336.19999999999993 0L586.1999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1281.8207754636592 250L1440 91.82077546365923L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L158.17922453634077 250L 0 91.82077546365923z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(0%2c 198%2c 184%2c 0.19)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 198%2c 184%2c 0.19)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(0%2c 198%2c 184%2c 0.19)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 198%2c 184%2c 0.19)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  background-position: center;
  background-size: cover;
  height: fit-content;
  width: 100%;
  /* margin: 100px 0px 0px 0px ; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 60px ;
  /* padding-right: 60px ; */
  top: 0%;
  
}
.About{
  height:fit-content;
  width: 900px;
  padding: 10px 35px 35px 35px;
  border-radius: 30px;
  /* background-color: #0c1821; */
  /* font-family: 'MuseoModerno', cursive; */
  margin: 40px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* animation: fade-in-down 2s ease 1; */
}
.About h2{
  width: fit-content;
  border-bottom: 2px solid #00C6B8;
  color: white;
  text-align: left;
  font-size: 50px;
  font-family: 'MuseoModerno', cursive;
  margin-top: 0px;
}
.About span{
  /* font-family: 'Outfit', sans-serif; */
  font-family: 'MuseoModerno', cursive;
  text-align: justify;
  font-size:20px;
}.up{
  border-bottom: 2px solid #00C6B8;
  font-family: 'MuseoModerno', cursive;
  font-size: 25px;

}
.upper{
  height:fit-content;
  width: 900px;
  /* margin: 20px; */
  padding: 10px 35px 35px 35px;
  /* background-color: #0c1821;  */
  color:#ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column; 
  font-size: 20px;
  text-align: justify;
  font-family: 'MuseoModerno', cursive;


}

.lower{
  height: fit-content;
  width: 900px;
  /* border: 2px solid black; */
  /* margin: 40px; */
  display: flex;
  justify-content: start;
  /* align-items: safe; */


}

.right{
  padding-left  : 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: justify;
  font-family: 'MuseoModerno', cursive;
  height: 100px;
}

.right button{
  border: none;
  background-color: transparent;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-family: 'MuseoModerno', cursive;

}


/* .skills-main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.skills{
  /* background-color: #0c182156; */
  padding: 30px;
  /* border: 2px solid white; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 50px;
  place-items: center;
  height: fit-content;
  width: 100%;
  
}
.griditem{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* box-shadow: #00C6B8 0px 0px 30px; */
  border: 0.01px solid #00c6b900 ;
  transition: all ease-in-out 0.2s;
  /* animation: icons 5s infinite; */
}
.griditem:hover{
  transform: scale(1.2);
  border: 0.01px solid #00c6b9 ;
  filter: blur(5);
  box-shadow: #000000 0px 0px 30px;
}
#gridinfo{
  position: absolute;
  opacity: 0;
  height: 10%;
  width: auto;
  padding: 10px;
  font-family: 'MuseoModerno', cursive;
  text-shadow: 5px 5px 10px black;
  font-weight: bold;
}
#gridinfo:hover{
  opacity: 1;
  animation: icons 1s 1;

}

@keyframes icons {
  0%{
    transform: translateY(-10px);

  }100%{
    transform: translateY(0px);


  }

}














.projectsmain{
  /* background: url(bg2.png);   */
  /* background-color: #264653; */
  background-color: #F3FAFF;
  /* background-color: #0c1821; */
  /* background-color: #F8D593; */
  /* background: #023047; */
  /* background: URL(diamond.svg); */
  background-position: center;
  /* background-size: cover; */
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  padding-bottom: 200px;
  position: relative;
}

.projects{
  display:grid;
  grid-template-rows: auto auto auto;
  gap: 50px;
  place-items: center;
  padding: 20px;
  scroll-snap-type: y mandatory;
}
.project1{
  /* background: url(bg2.png); */
 /* background: #00C6B8; */
  /* background-position: center; */
  /* background-size: cover; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 20px;
  border: 2px solid white;
  scroll-snap-align: center;
  z-index: 1;
  transition: all ease 1s;
}
 .project1 img{
  height: auto;
  width: 500px;
  border-radius: 20px;
  /* box-shadow: 1px 1px 20px #d3d3d3; */
 }


 .p1info{
  color: #0c1821;
  padding: 5px;
  /* position: absolute; */
  height: fit-content;
  width: 300px;
  text-align: justify;
  /* opacity: 0; */ 
  transition: all ease-in 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column ;
 margin: 20px;
 font-family: 'MuseoModerno', cursive;
 font-weight: 800;
 }
.p1info button{
  font-family: 'MuseoModerno', cursive;
  height: 45px;
    margin: 25px;
    /* border-radius:20px; */
    border:2px solid #202334;
    background-color: #202334;
    color: #00c6b9;


 }
 .p1info a{
  text-decoration: none;
  color: inherit;
 }


.title{

  margin-bottom: 50px;
  font-size: 35px;
  font-family: 'MuseoModerno', cursive;
  text-shadow: #00C6B8 5px 5px 0px;
  color: #0c1821;
  z-index: 1;

}
.grid-item{
  /* border: 2px solid white; */
  
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #00C6B8; */
  transition: all 15s ease-in;
  border-radius: 20px;
  box-shadow: #0c1821 1px 1px 20px ;
  

}

.project1:hover{
  /* transform:scale(1.3); */
  box-shadow: #0c1821 0px 0px 70px ;
  border-radius: 20px;

}
.contact-main{
  /* height: 100vh; */
  /* background-color: #264653;
  background-color: #1a2c32; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.title1{
  margin: 60px 0px 30px 0px;
  height: 250px;
  width: 100%;
  font-size: 35px;
  font-family: 'MuseoModerno', cursive;
  text-shadow: white 3px 3px 0px;
  color:#00C6B8;
  /* border: 2px solid gold; */
  text-align: center;
}

.contact{
  /* border: 2px solid red; */
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links{
  /* border: #ffffff 2px solid; */
  height: 500px;
  width: 100%;
  color:#00C6B8;
  font-family: 'MuseoModerno', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  /* background-color: #13274F; */
  background-color: #202334;
  background-color: #161824;
  background-color: #1a2c32;
  /* box-shadow: 10px 10px 0px white; */
  transition: all .5s;
  /* box-shadow: #00C6B8 0px 0px 50px ; */
 /* z-index: 1; */
}
.links:hover{
  transform: scale(1);

}

.socials-main{
  margin-top: 0px;
  margin-left: 250px;
  margin-bottom: 0px;
  width: fit-content;
  font-size: 55px;
  border-bottom: #00C6B8 5px solid;
}
.socials{
  margin-left: 250px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.socials a{
  text-decoration: none;
  font-size: 25px;
  color:#00C6B8;
  display: inline-block;
  transition: all .5s;
}
.socials a:hover{
  transform: scale(1.4);
}
.hello{
  height:fit-content;
  width: fit-content;
  margin-left:100px;
  /* margin-top: 0px; */
  margin-right: 40px;
  font-size: 45px;

}
.hello a{
  text-decoration: none;
  color:#00C6B8;
  display: inline-block;
  transition: all .5s;
  
}
.hello a:hover{
  animation-name: shakey;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes shakey {
	0%, 100% {transform: translateY(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-15px);}
	20%, 40%, 60%, 80% {transform: translateX(15px);}
}
@media only screen and (min-width:1850px){
  #cursor-outline {
    height: 150px;
    width: 150px;
  }
#Name{
  font-size: 100px;
}
.intro{
  font-size: 50px;
}
.tagline{
  font-size: 40px;
}
.content-main{
  width: 100%;
}
.About{
  width: 1400px;
}
.About span{
  font-size: 40px;
}
.lower b{
  font-size: 35px;

}
.up{
  font-size: 40px;
}
.upper{
  font-size: 40px;
  width: 1400px;
}
.skills{
  height: fit-content;
  width: 100%;
  padding: 50px;
}
.griditem{
  height: 150px;
  width: 100%;
}
.projects{
  width: 100%;
  gap: 150px;
}
.project1{
  width: fit-content;
}
.project1 img{
  width: 100%;
}
.p1info{
  font-size: 20px;
  width: 600px;
}.links{
  height: 1000px;
}
.hello a{
  font-size: 60px;
  width: 100%;
}.socials-main{
  font-size: 60px;
}
.topbtn{
  right: 150px;
  height: 100px;
  width: 100px;
  font-size: 50px;
}
}
@media only screen and (max-height:450px){
  label li{
    font-size: 40px;
    height: 100px;
  }
  label ul{
    height: 450px;
    top: 5%;
  }
  #cursor-outline,#cursor{
    display: none;
  }
  .hello h2{
    font-size: 50px;
  }
  .topbtn{
    height: 30px;
    width: 30px;
    font-size: 10px;
  }
  .logo img{
    margin-left: 10px;
  }
}
@media only screen and (max-width:950px){
  html,body{
    overflow-x: hidden;
    cursor: default;
  }
  #gridinfo{
    height: 30%;
  }
  .name{
    padding: 50px;
  }
  .content-main{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;

  }
  .About{
    width: 100%;
  }
  .project1 img{
    height: fit-content;
    width: 500px;
  }
  .p1info{
    position: absolute;
    width: fit-content;
  }
  .links{
    height: fit-content;
    width: fit-content;
  }
  .links:hover{
    transform: scale(1);
  }
  .logo img{
    height: 50px;
  }
  #Name{
    font-size: 50px;
    padding: 100px;

  }
  .Scroll-down{
    margin-top: 800px;
  }
  .griditem{
    height: fit-content;
    width: fit-content;
    padding: 20px;
  }
  /* .topbtn{
    right: 200px;
  } */
}





@media only screen and (max-width:850px){
  #cursor,#cursor-outline{
    display: none;
  }
  body::-webkit-scrollbar {
    display: none;
  
  }
  .body{
    overflow-x:hidden;
    scroll-behavior: smooth;
  }
  .bg{
    height: 80px;
  }
  .grid-item{
    flex-direction: row;
  }
  .project1 img{
    height: fit-content;
    width: 350px;
  }
  .project1{
    height: 100%;
    width: 100%;
  }
  .project1:hover{
    height: 85%;
    width: 85%;
  }
  .p1info{
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 12px;
  }
  
  .logo{
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  .logo img{
    height: 50px;
    margin: 20px;
  }
  #Name{
    font-size: 40px;
  }
  .name{
    top: 20%;
    right: 0%;
    padding: 10px;
    height: fit-content;
    width:100%;
    font-size: 45px;
    flex-direction: column  ;
  }
  .intro{
    /* display:flex; */
    height: fit-content;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
  }
  .tagline{
    font-size: 20px;
    /* margin: 15px; */
    /* width: 450px; */
  }
  .subtitle{
    font-size: 15px;
  }
  .menu{
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    
  }
  label ul{top:6%;
    left: 50%;
  }
label li{
  width: 100%;
  height: fit-content;
  font-size: 40px;
  margin: 0px;
  padding: 10px;
}
.content-main{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
 height: fit-content;
 width: 100%;
 padding: 20px;
 flex-direction: row;
}
.About{
  /* margin: 20px; */
  padding-bottom: 20px;
  width: fit-content;
  height: fit-content;
 
}
.About b{
  font-size: 15px;
}
.About h2{
  font-size: 35px;


}
.up{
  font-size: 20px;
}
.upper{
  width: 100%;
  height: fit-content;
  font-size: 15px;
  
}
.lower{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.left,.right{
  width: fit-content;
  height: fit-content;
}
.projectsmain{
  height: fit-content;
  width: 100%;
}
.projects{
  gap: 100px;
  /* grid-template-columns: repeat(auto-fill, minmax(150px,1fr)); */
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.projects img{
  width: 400px;
}
.contact{
  height: fit-content;
  width: 100%;
}
.contact-main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  height: 80vh;
  width: 100%;
}
.title1 ,.title{
font-size: 20px;
}
.links{
  text-align: justify;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}.links:hover{
  transform: scale(1);
}.topbtn{
  display: none;
}
.socials-main{
  margin: 0;
}
.socials{
  margin: 0;
  text-align: justify;
  display: flex;

}
.title1 h1{
  height: fit-content;
  width: 100%;
  /* font-size: 50px; */
}
.hello{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills{
  padding: 50px;
  grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
}
.griditem{
  height: fit-content;
  width: fit-content;
}
}

@media only screen and (max-width:550px){
  .body,.html{
    overflow-x: hidden;
  }
#Name{
  font-size: 30px;
  padding: 50px;
}
.topbtn{
  position: fixed;
}
.Scroll-down{
  opacity: 0;
}
.grid-item:hover{
 transform: none;
}
.tagline{
  font-size: 15px;
}
.blob{
  animation: none;
  display: none;
}
.blob1{
  animation: none;
  display: none;
}
.projects img{
  width: 300px;
}.contact-main{
  height: 50vh;
}
.skills-main{
  height: fit-content;
}
.skills{
  padding: 50px;
  grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
}
.griditem{
  height: fit-content;
  width: fit-content;
}
}











.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-42 {
  border: 2px solid #00C6B8;
  z-index: 1;
  color: white;
}

.btn-42:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #00C6B8;
  transition: all 0.3s ease;
}

.btn-42:hover {
  color: rgb(0, 0, 0);
}

.btn-42:hover:after {
  top: 0;
  height: 100%;
}

.btn-42:active {
  top: 2px;
}